body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    letter-spacing: 1px;


}

#out {
    display: flex;
    flex-direction: column-reverse;
    width: 500px;
    height: auto;
    position: absolute;
    top: 50px;
}

li {
    text-indent: 15px;
    text-align: justify;
    list-style-type: none;
    border-radius: 5px;
    width: 435px;
    height: 60px;
    margin-bottom: 3px;


}

.divCheckbox {
    display: flex;
    height: 60px;
    border-right-width: 3px;
    border-right-style: solid;
    border-right-color: lavender;
    float: left;
    align-items: center;

}

#b1 {

    background-color: rgb(255, 224, 131);
    
}

#b2 {

    background-color: rgb(145, 112, 203);
}

#b3 {

    background-color: rgb(243, 121, 162);
}

#b4 {

    background-color: rgb(242, 108, 105);
}


#b5 {

    background-color: rgb(94, 179, 246);
}

#b6 {

    background-color: rgb(103, 215, 229);


}

#add {
    background-color: #24A69A;
    text-align: center;
    border: none;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    position: relative;
    right: 15%;
}

.colorButton {
    width: 23px;
    height: 23px;
    border-radius: 5px;
    border: none;
    position: relative;
    bottom: 45px;
    left: 40%;
}

#in {
    width: 432px;
    height: 60px;
    border: 3px solid whitesmoke;
    outline: none;
    border-radius: 10px;

}

.divText {
    margin: 23px;
    color: #f9fdffd8;
}
.colorButton:active{

    border: 2px double red;

}